body {
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 50%;
}

.list-header p {
  font-weight: 600;
}

.list-header,
.add-list,
.list-container,
.list,
.clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 1px;
  padding: 20px;
}

.list {
  justify-content: flex-start;
  padding: 0;
}

i {
  color: #cac9c9;
  font-size: 14px;
}

i:hover {
  color: #000;
}

input {
  outline: none;
  font-style: italic;
  border: hidden;
  font-size: 15px;
}

.clear {
  background-color: #efefef;
  color: #8d8d8d;
  justify-content: center;
}

.clear p:hover {
  color: #000;
  text-decoration: underline;
}
